@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) #181b18;
}

::selection {
    background-color: var(--primary);
    color: #fff;
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}

:root {
    --primary: #30d81d;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #181b18;
}

nav{
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 100%; position: absolute; box-sizing: border-box;
    z-index: 1000;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link .activo {
    color: var(--primary);
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 100%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: var(--primary);
}

.container{
    margin: auto;
    padding: 5rem 2rem;
    max-width: 1200px;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px var(--primary);
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
  
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-stroke: 1px #fff;
    font-family: "Zen Dots", sans-serif;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features2 {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.features .card,
.features2 .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover,
.features2 .card:hover{
    background-color: #323232;
    border-color: var(--primary);
}

.features .card span ,
.features2 .card span{
    display: inline-block;
    background-color: var(--primary);
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card a,
.features2 .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover,
.features2 .card a:hover {
    color: var(--primary);
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.pricing .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover{
    background-color: var(--primary);
    border-color: #fff;
}

.pricing .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover{
    background-color: var(--primary);
    border-color: var(--primary);
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: var(--primary);
}

.copyright{
    margin: 0 4rem;
    padding: 1rem;
    color: #fff;
    font-size: 1rem;
    justify-content: space-between;
    display: flex;
}

.left a,
.right a {
    color: #fff;
}

.left a:hover,
.right a:hover {
    color: var(--primary);
    transition: .4s ease;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}

@media (width < 600px) {

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .iframe {
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
    }

    .features2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .ghy {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (max-width: 768px) { /* Ajusta el valor según el tamaño de pantalla que consideres como móvil */
    .boxs {
        grid-template-columns: repeat(2, 1fr); /* Muestra 2 columnas en pantallas medianas (tabletas) */
    }
}

@media (max-width: 768px) { /* Ajusta el valor para pantallas más pequeñas (móviles) */
    .boxs {
        grid-template-columns: 1fr; /* Muestra 1 columna en pantallas móviles */
        padding: 5px; /* Ajusta el padding para pantallas pequeñas */
    }
}
.ri-shopping-cart-line {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.ri-shopping-cart-line:hover {
    color: var(--primary);
    transition: 0.4s;
}

.cart {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    right: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    box-sizing: border-box;
}

.dropdown-content {
    display: flex;
    align-items: flex-start;
}

.dropdown-menu img {
    height: 50px;
    width: 50px;
    float: left;
    margin-left: 10px;
    border-radius: 5px;
}

.dropdown-menu h1 {
    color: #333;
    font-size: 18px;
    margin: 0;
}

.dropdown-menu p {
    margin: 10px 0 0;
    color: #666;
}

.cart:hover .dropdown-menu {
    display: block;
}

.overlay {
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(81, 204, 24, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s, opacity 0.5s;
    opacity: 0;
}

.overlay-mantenimiento {
    background-color: rgba(204, 24, 24, 0.5);
    border-radius: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top 0.5s, opacity 0.5s;
    opacity: 0;
    border: 2p;
}

.card:hover .overlay-mantenimiento {
    top: 0;
    opacity: 1;
}

.card:hover .overlay {
    top: 0;
    opacity: 1;
}

.name-play {
    position: absolute;
    bottom: 16px;
    text-align: center;
    font-size: 1rem;
    animation: slide-up 0.5s forwards;
}

.iframe {
    align-items: center;
    justify-content: center;
    display: flex;
}

.iframe iframe{
    border: 2px solid rgba(81, 239, 13, 0.555);
    border-radius: 10px;
    align-items: center;
    margin: 0 1rem;
}

.iframe iframe:hover {
    background-color: var(--primary);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.avatar-x {
    width: 60px;
}

.ghy {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.rol {
    margin: 0;
    color: var(--primary);
}

.name-equipo {
    margin: 0;
    color: #fff;
    font-family: "Zen Dots", sans-serif;
    align-items: center;
}

.name-videos {
    margin: 0;
    margin: 12px 0 0;
    color: #fff;
    font-family: "Zen Dots", sans-serif;
}
.boxs {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* Ajusta el espacio entre los elementos si es necesario */
    padding: 10px; /* Espacio interno del contenedor */
    margin: 0 auto;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho total */
}

.box {
    box-sizing: border-box; 
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #54595f37;
}

.box img {
    max-width: 300px;
    border-radius: 5px;
}

.price-product {
    color: var(--primary);
}

.product-name {
    color: #fff;
    font-family: "Zen Dots", sans-serif;
    font-weight: normal;
}

.type-game {
    color: #999;
    margin: 12px 0 10px;
}

.comprar {
    margin: 12px 0 0;
}

.imagen-x {
    background-image: url('https://media.discordapp.net/attachments/1225662616433721466/1280049130546401340/120394.jpg?ex=66d6aa26&is=66d558a6&hm=4ca54586818b8ebdb31d7fdf7f9b98af793d4811c197d5e8b0a8031aa4cc2393&=&format=webp&width=1193&height=671'); /* Cambia la ruta de la imagen según tu archivo */
    background-size: cover; /* Ajusta la imagen para cubrir todo el área del body */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    max-width: 9000px;
}